*{
    padding: 0;
    margin: 0;
}


body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
		'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-image: linear-gradient(180deg, #cddfcd 0%, #cddfcd 100%);
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas,
		'Courier New', monospace;
}

.container {
	max-width: 1100px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 50px;
	padding-right: 15px;
    padding-bottom: 400px;
	padding-left: 15px;
	min-height: 100vh;
	
}

.notes-list {
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: repeat(
		auto-fill,
		minmax(250px, 1fr)
	);
}

.note.new {
	background-color: #fdff5c;
}

textarea {
	border: none;
	resize: none;
	background-color: #fdff5c;
}

textarea:focus {
	outline: none;
}

.save {
	background-color: #f8d57f;
	border: none;
	border-radius: 15px;
	padding: 5px 10px 5px 10px;
}

.save:hover {
	background-color: #fcff2e;
	cursor: pointer;
}

.note {
	background-color: #feffad;
	border-radius: 10px;
	padding: 1rem;
	min-height: 170px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	white-space: pre-wrap;
}

.note-footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.delete-icon {
	cursor: pointer;
}

.search {
	display: flex;
    margin: 30px;
	align-items: center;
	background-color: rgb(233, 233, 233);
	border-radius: 10px;
	padding: 15px;
	margin-bottom: 1.5em;
}

.search input {
	border: none;
	background-color: rgb(233, 233, 233);
	width: 100%;
}

.search input:focus {
	outline: none;
}

.Escri {
	color: black;
}